<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
  <display-name>Sistema TCC</display-name>
  
  <welcome-file-list>

  	<welcome-file>login.html</welcome-file>

    
  </welcome-file-list>
  
  <servlet>
  	<display-name>ProjetoServlet</display-name>
  	<servlet-name>ProjetoServlet</servlet-name>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProjetoServlet</servlet-name>
    <url-pattern>/ProjetoServlet/*</url-pattern>
  </servlet-mapping>
</web-app>